{% extends "base.html" %}
{% block title %}Decisions Example App{% endblock %}

{% block content %}
<h2>
    This is the welcome page.
</h2>

<p>
    Lorem ipsum dolor sid ametLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
    ullamco laboris nisi ut aliquip ex ea commodo consequat.
</p>    

<p>
    Have a look at our definition: <a href="/definitions">DEF#97</a>
</p>    
{% endblock %}
